#head {
	position:relative;
	width:100%;
	height:45px;
	background-image : url("../image/nav.png");
	margin:0px auto;
}

#userInfo {
	position:absolute;
	right:20px;
	top:10px;
	color: #FFFFFF;
}

#userInfo a {
   text-decoration: none;
   color: #FFFFFF;
}

#nav-div{
	height:45px;
	width:1024px;
	margin:0px auto;
	
}

.nav{
	list-style : none;
	background-image : url(../image/bg.gif) repeat;
}

.sub-nav{
	position:absolute;
	list-style : none;
	background-color:#6e6e6e;
	width:200px;
	display:block;
	z-index:1001;
	display:none;
	left:0px;
	top:45px;
}

.menu-item{
	position:relative;
	float:left;
	height:25px;
	line-height: 25px;
	padding:0px 40px;
	height:45px;
}

.bgover {
	background-color:#6e6e6e;
}


.sub-menu-item {
	height:22px;
	line-height: 22px;
	margin-left:10px;
	margin:5px 0px;
}

.menu-item a.title {
	font-size:14px;
	text-decoration: none;
	color:#FFFFFF;
	display:block;
	margin-top:10px;
	font-weight:700;
}

.sub-menu-item a {
	font-size:14px;
	color:#FFFFFF;
	text-decoration: none;
	margin-left:40px;
}

.blue{
	background-color:#2e92cf;
}

