body{
	width:100%;
	height:100%;
	text-align:center;
}

#main{
	margin-top:30px;
}

#sectionContent {
	position:relative;
	text-align:center;
	margin-top:30px;
}

#pageBar {
	margin-bottom:70px;
	margin-top:10px;
}

#type{
	position:relative;
	text-align:center;
	margin-top:30px;
	height:30px;
	width:550px;
	margin: 0px auto;
}

.type {
	float : left;
	width:80px;
	border : 1px solid #7d7d7d;
	margin: 0 1px;
	padding : 2px 0px;
	cursor:pointer;
}



.click {
	background-color:#97f360;
	
}

.addDiv {
	width:800px;
	margin:0px auto;
	text-align:left;
}

.addDiv img {
		width:84px;
		height:33px;
	}

/***问题***/

.question {
	text-align:left;
	width:800px;
	height:250px;
	margin:0px auto;
	border-bottom : 1px solid #7d7d7d;
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
}

.question span {
	font-size:16px;
	font-family: sans-serif;
	white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.quesntinContent {
	float:left;
	width:600px;
}

/***四个选项***/
.question .answera, .answerb,.answerc,.answerd,.answer{
	margin-top:4px;
	margin-left:10px;
}


/*********富媒体**********/
#right {
	float:left;
	width:200px;
	height:140px;
	text-align:center;
}
.richmedia img {
	max-width:100px;
	max-height:100px;
}

.operate {
	width:200px;
	height:50px;
	margin-top:10px;
	text-align:center;
}