/***************************个人空间************************/
#main {
	width:1024px;
	height:100%;
	margin:0px auto;
	padding-top:30px;
	background-color:#FFFFFF;
	color:#7d7d7d;
	margin-bottom:100px;
}

#sub1 {
	width:800px;
	margin:0px auto;
	margin-bottom:20px;
}

#sub2 {
	width:800px;
	margin:0px auto;
	margin-top:20px;
}

.title img{
	margin-right:5px;
}



.line {
	border-top:1px solid #7d7d7d;
}

.title {
	text-align:left;
	font-weight:700;
}

.contents {
	margin-top:20px;
}

.score {
	margin-top:30px;
}

table{
	width:100%;
	border : none;
	border-collapse:collapse;
}

table td{
	border : 1px solid #bfbfbf;
	border-collapse:collapse;
	height:25px;
}

table th{
	border : 1px solid #bfbfbf;
	border-collapse:collapse;
	height:25px;
}

