<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
    "-//Apache Software Foundation//DTD Struts Configuration 2.0//EN"
    "http://struts.apache.org/dtds/struts-2.0.dtd">
<struts>
  <package name="examSystem" extends="role-default" namespace="/exam/system">
    <action name="saveAnnouncement" class="systemAction" method="saveAnnouncement">
      <result type="redirect">/exam/system/listAnnouncement.d</result>
    </action>
    <action name="viewAnnouncement" class="systemAction" method="viewAnnouncement">
      <result>/school/ann_view.jsp</result>
    </action>
    <action name="delAnnouncement" class="systemAction" method="delAnnouncement">
      <result type="redirect">/exam/system/listAnnouncement.d</result>
    </action>
    <action name="listAnnouncement" class="systemAction" method="listAnnouncement">
      <result>/school/ann_list.jsp</result>
    </action>
    <action name="listAnnouncementStu" class="systemAction" method="listAnnouncementStu">
      <result>/school/ann_list_stu.jsp</result>
    </action>
  	<action name="listScore1" class="systemAction" method="listScore1">
      <result>/school/list_score1.jsp</result>
    </action>
    <action name="listScore3" class="systemAction" method="listScore3">
      <result>/school/list_score3.jsp</result>
    </action>
    <action name="toUpdateUsers" class="systemAction" method="toUpdateUsers">
      <result>/system/updateInfo.jsp</result>
    </action>
    <action name="updateUsers" class="systemAction" method="updateUsers">
      <result>/share/blank.jsp</result>
    </action>
    
    <action name="listMessageStu" class="systemAction" method="listMessageStu">
      <result>/message/msg_list_stu.jsp</result>
    </action>
    <action name="listMessageSch" class="systemAction" method="listMessageSch">
      <result>/message/msg_list.jsp</result>
    </action>
    
     <action name="getMessageById" class="systemAction" method="getMessageById">
      <result>/message/msg_view.jsp</result>
    </action>
    
    <action name="saveMessage" class="systemAction" method="saveMessage">
      <result type="redirect">/exam/system/listMessageStu.d</result>
    </action>
    
    <action name="delMessageStu" class="systemAction" method="delMessageStu">
      <result type="redirect">/exam/system/listMessageStu.d</result>
    </action>
    
    <action name="delMessageSch" class="systemAction" method="delMessageSch">
      <result type="redirect">/exam/system/listMessageSch.d</result>
    </action>
    
    <action name="exportSocre1" class="systemAction" method="exportSocre1">
      <result type="stream">
          <param name="contentType">application/x-msdownload</param> 
          <param name="inputName">inputStream</param>
          <param name="contentDisposition">attachment;filename="${fileName}"</param>
          <param name="bufferSize">4096</param><!-- 输出时缓冲区的大小 --> 
      </result>
    </action>
    <action name="exportSocre3" class="systemAction" method="exportSocre3">
      <result type="stream">
          <param name="contentType">application/x-msdownload</param> 
          <param name="inputName">inputStream</param>
          <param name="contentDisposition">attachment;filename="${fileName}"</param>
          <param name="bufferSize">4096</param><!-- 输出时缓冲区的大小 --> 
      </result>
    </action>
    
    <action name="exportStaticSocre1" class="systemAction" method="exportStaticSocre1">
      <result type="stream">
          <param name="contentType">application/x-msdownload</param> 
          <param name="inputName">inputStream</param>
          <param name="contentDisposition">attachment;filename="${fileName}"</param>
          <param name="bufferSize">4096</param><!-- 输出时缓冲区的大小 --> 
      </result>
    </action>
    <action name="exportStaticSocre3" class="systemAction" method="exportStaticSocre3">
      <result type="stream">
          <param name="contentType">application/x-msdownload</param> 
          <param name="inputName">inputStream</param>
          <param name="contentDisposition">attachment;filename="${fileName}"</param>
          <param name="bufferSize">4096</param><!-- 输出时缓冲区的大小 --> 
      </result>
    </action>
     <action name="listLoginLogs" class="systemAction" method="listLoginLogs">
      <result>/system/loginlogs.jsp</result>
    </action>
    <action name="listActiveCard" class="systemAction" method="listActiveCard">
      <result>/system/activelogs.jsp</result>
    </action>
    <action name="exportActive" class="systemAction" method="exportActive">
      <result type="stream">
          <param name="contentType">application/x-msdownload</param> 
          <param name="inputName">inputStream</param>
          <param name="contentDisposition">attachment;filename="${fileName}"</param>
          <param name="bufferSize">4096</param><!-- 输出时缓冲区的大小 --> 
      </result>
    </action>
  </package>
</struts>